<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-mybatis-mapper:war">
    <output-path>$PROJECT_DIR$/springboot-mybatis/target</output-path>
    <root id="archive" name="spring-boot-mybatis-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-boot-mybatis-mapper:war exploded" />
    </root>
  </artifact>
</component>